- content_for(:page_title) do
  About Eden

.row
  .col.m3.hide-on-small-only
    = image_tag 'eden.jpg', class: 'about-img responsive-img'
  .col.s12.m9
    %p From a young age Eden began to appreciate all aspects of design, whether it be architecture, fashion, or even nature. Growing up with 8 siblings taught Eden hard work and a positive attitude.
    %p While in school Eden excelled in Kitchen and Bath, and was elected the President of the National Kitchen and Bath Association chapter at Brigham Young University-Idaho and received Honorable Mention in the NKBA competition winning a $1,000 scholarship. The BYU-I program is accredited by CIDA, ASID, and NKBA.  As a student, Eden specialized in barrier-free, sustainable, residential and commercial designs.  Eden has strong skills in space planning, color coordination, and 3D modeling.
    %p Eden completed an internship at Foley and Cox, a high-end residential Interior Design Firm in New York City.  While on her internship she learned how to apply the skills she learned in school and how to work in a professional environment.   She especially enjoyed assisting with client installations, photo shoots, and site measurements.
    %p Eden strives for perfection in all that she does and is looking forward to future opportunities where she can learn and develop her talents and abilities as a designer and a person.  Eden is graduating with a Bachelors of Science in Interior Design from Brigham Young University - Idaho, April 2015.
