- content_for(:page_title) do
  Eden's Work

.row
  .col.s12
    #grid{data: {columns: ''}}
      - @projects.each do |project|
        .project-link
          = link_to show_work_path(project.id) do
            .image-wrap
              = image_tag(project.images.first.file.url(:thumb))
            .text-wrap
              %h4= project.name
              %span= project.details
