$primary: #03A9F4;
$primary-dark: #0288D1;

$darker: #222226;
$dark: #3C3C42;
$mid: #97979F;
$light: #AFAFB9;
$lighter: #BBBBC6;

$input-focus-color: $primary;

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import "materialize";
@import "overrides";
@import "animate";
@import "font-awesome";
@import "static";
@import "projects";

