$primary: #03A9F4;
$primary-dark: #0288D1;

$darker: #363639;
$dark: #505056;
$mid: #97979F;
$light: #AFAFB9;
$lighter: #BBBBC6;

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);
@import "animate";
@import "materialize";
@import "overrides";
@import "static";

