// General Overrides

.btn {
  &.primary {
    background-color: $primary;
    &:hover {
      background-color: $primary-dark
    }
  }
}

.margin-right {
  margin-right: 10px;
}

.margin-top {
  margin-top: 10px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.waves-effect.waves-light .waves-ripple {
  background-color: rgba(255,255,255, 0.35);
}

.waves-effect.waves-nav .waves-ripple {
  background-color: rgba(255,255,255, 0.1);
}

.toast {
  background-color: $primary-dark;
}

// Nav Overrides
html, body {
  background: $darker;
  color: #fff;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  h1,h2,h3,h4,h5,h6 {
    font-weight: 100;
  }
  h1 {
    font-size: 3em;
  }
  h4 {
    font-size: 2em;
  }
  a {
    transition: color 300ms;
  }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .render-above {
    position: relative;
    z-index: 100;
  }
}

main {
  flex: 1 0 auto;
  #main-content {
    animation-duration: 500ms;
    -webkit-animation-duration: 500ms;
    -o-animation-duration: 500ms;
    -ms-animation-duration: 500ms;
    -moz-animation-duration: 500ms;
  }
  a {
    color: $primary;
  }
}

.footer-padding {
  height: 100px;
}


.brand-logo {
  .site-logo {
    padding-top: 12px;
    height: 50px;
  }
}

nav, #nav-mobile {
  background: $darker;
  color: #fff;
}

nav ul li {
  a {
    color: $lighter;
  }
  &:hover {
    a {
      color: #fff;
    }
    background-color: transparent;
  }
  &.active {
    background: transparent;
    &:after {
      content: '';
      position: absolute;
      background: $primary;
    }
  }
  @media (max-width: 980px) {
    width: 100%;
    &.active:after {
      bottom: 0;
      left: 0;
      top: 0;
      width: 5px;
    }
  }
  @media (min-width: 980px) {
    width: 100px;
    text-align: center;
    &.active:after {
      bottom: 0;
      left: 0;
      right: 0;
      height: 5px;
    }
  }
  position: relative;
}

.side-nav a {
  color: #fff;
}

.side-nav li {
  padding: 0;
}

.side-nav li:hover, .side-nav li.active {
  background: rgba(0,0,0,0.1);
  color: #fff;
}


// Slider Overrides
.slider {
  position: relative;
  margin-top: 40px;
}

.slide-controls {
  text-align: center;
  .slide-left, .slide-right {
    position: absolute;
    z-index: 1000;
    top: 50%;
    margin-top: -58px;
    background: rgba(0,0,0,0.5);
    &:hover {
      cursor: pointer;
    }
  }
  .slide-left {
    padding: 50px 12px 50px 8px;
    left: 0;
  }
  .slide-right {
    padding: 50px 8px 50px 12px;
    right: 0;
  }
}

.slider .slides li .caption {
  top: initial;
  bottom: 0;
  left: 0;
  padding: 20px 40px;
  width: 100%;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.8);

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+50,000000+100&0.65+50,0+90 */
  background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 50%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
  h2 {
    margin-top: 0;
    font-size: 2em;
  }
  h4 {
    font-size: 1.25em;
    opacity: 0.75;
  }
}

.slider .indicators .indicator-item.active {
  background-color: $primary;
}

.slider .indicators {
  z-index: 10;
  bottom: 15px;
  .indicator-item {
    width: 40px;
    height: 5px;
    margin: 0 5px;
    border-radius: 0;
    &.active {
      background-color: $primary;
    }
  }
}


// Footer overrides
footer.page-footer {
  background: $dark;
  position: relative;
  z-index: 100;
  padding-top: 2.5px;
  .row {
    margin-bottom: 0px;
  }
  .stringy-plug {
    display: inline;
    margin-left: 10px;
  }
  .text-mid {
    color: $mid;
  }
  a {
    color: $mid;
    &:hover {
      color: #fff;
    }
    &.admin-link {
      color: #fff;
      &:hover {
        color: #fff;
      }
    }
  }
  .footer-lower {
    padding: 20px 0 0;
    min-height: 50px;
    background-color: $darker;
    font-size: 0.8em;
    .social-media {
      position: relative;
      bottom: 10px;
      font-size: 2.5em;
      span {
        margin: 0 5px;
      }
    }
    @media (max-width: 600px) {
      text-align: center !important;
      .text-right {
        text-align: center;
      }
      .social-media {
        bottom: 0;
        margin: 10px 0;
      }
    }
  }
}
