.new-project {
  margin: 40px 0 20px;
}

.featured-icon {
  font-size: 1.75em;
  margin-left: 25px;
}

.project-actions {
  font-size: 1.25em;
  a {
    margin: 0 5px;
  }
}

.image-container {
  max-height: 75px;
  overflow: hidden;
  .form-image {
    width: 100%;
  }
}

